/* stylelint-disable function-comma-space-after, selector-list-comma-newline-after, rule-non-nested-empty-line-before, at-rule-empty-line-before, indentation, block-closing-brace-newline-before */
@import "../../../styles/variables.scss";

.container {
  color: white;
  background: $content-bg;
  padding-bottom: 1rem;
  margin-top: -1px;
  margin-bottom: -1px;
  width: 100%;
  overflow-x: hidden;
}

.b-grid {
  padding: 1.5rem 0;
  text-align: left;
  color: $tooltip-gray;
  >div {
    position: relative;
  }
  @media (min-width: $width-xs) {
    padding: 1.5rem 1rem;
    display: flex;
  }
}

.c-left {
  vertical-align: middle;
  padding: 2rem;
  @media (min-width: $width-xs) {
    flex: 1;
    align-items: stretch;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    height: 100%;
    order: 1;
  }
}

.c-right {
  vertical-align: middle;
  padding: 2rem;
  @media (min-width: $width-xs) {
    flex: 1;
    align-items: stretch;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    height: 100%;
    order: 2;
  }
}

.c-text {
  background: $white;
  @media (min-width: $width-xs) {
    margin: 0 2.5rem;
  }
}

.c-human {
  padding: 0 2rem;
  @media (min-width: $width-xs) {
    padding: 0 2rem;
  }
}

.right-text {
  margin-top: 0;
  @media (max-width: $width-xs) {
    margin-top: -2.8rem;
    background: $white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  }
  @media (min-width: $width-xs) {
    margin-top: auto;
    margin-bottom: auto;
    background-image: url('../../../../content/assets/right-quote-box.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.left-text {
  margin-top: 0;
  @media (max-width: $width-xs) {
    margin-top: -2.8rem;
    background: $white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  }
  @media (min-width: $width-xs) {
    margin-top: auto;
    margin-bottom: auto;
    background-image: url('../../../../content/assets/left-quote-box.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
