@import "../../styles/variables.scss";
@import "../../styles/animation.scss";

.container {
  width: 100%;
  overflow-x: hidden;
  background-color: $content-bg;
}

.image {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.center-box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: $white;
  margin-bottom: 10vh;
  width: 100%;
  font-family: "ro-nikkatsu-sei-kai-std", sans-serif;
  font-weight: 400;
  font-style: normal;

  h1{
    font-size: 65px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: $width-xs) and (orientation:portrait) {
      font-size: 45px;
    }
  }

  hr{
    width: 3rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    height: 0;
    border: solid 1px $white;
    background-color: $white;
  }

  h2{
    font-size: 30px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: $width-xs) and (orientation:portrait) {
      font-size: 26px;
    }
  }
}

.bottom-box {
  position: absolute;
  width: 100%;
  bottom: 2.6rem;
  left: 50%;
  color: $white;
  text-align: center;
  transform: translateX(-50%);

  p{
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
}
