@import "./variables";

.left-grid {
  width: 50%
}

.initial-height {
  height: initial !important;
}

.large-v-space {
  padding: 20em 0;
}

.small-v-space {
  padding: 5em 0;
}

.pad-h-samll {
  padding: 0 3em;
}

.pad-top-small {
  padding-top: 2em;
}

.pad-top-big {
  padding-top: 4em;
}

.margin-top-tiny {
  margin-top: 2em;
}

.margin-h-tiny {
  margin: 0 2em;
}
