nav {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.twr-contentslider {
	width: 100%;
	height: 100%;
	position: relative;
}

.twr-contentslider > ul {
	list-style: none;
	height: 100%;
	width: 100%;
	overflow: scroll;
	position: relative;
	padding: 0;
	margin: 0;
}

.twr-contentslider > ul li {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 1em;
	background: #fff;
}

/* use :target to show the selected slide  */
.twr-contentslider > ul li:target {
	z-index: 100;
}

.twr-contentslider h3 {
	font-size: 4em;
	height: 2em;
	line-height: 1.7;
	font-weight: 300;
	margin: 0 0 0.3em;
	position: relative;
	color: #47a3da;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 0.3em;
	padding: 0 0.2em 0 0;
	border-bottom: 4px solid #47a3da;
}

.twr-contentslider h3[class^="icon-"]:before,
.twr-contentslider h3[class*=" icon-"]:before {
	top: 0;
	left: 0;
	width: 2em;
	line-height: 1;
	height: 1.2em;
	margin: 0;
	color: #47a3da;
}

.twr-contentslider li > .twr-interactive, .twr-contentslider li > .twr-description {
  height: 100%;
}

.twr-contentslider li > .twr-content {
	position: absolute;
	top: 9em;
	bottom: 3.313em;
	width: 100%;
	left: 0;
	padding: 0 1em;
	overflow-x: hidden;
	overflow-y: auto;
}

.twr-contentslider .twr-content {
	-webkit-column-rule: 1px dashed #47a3da;
	-moz-column-rule: 1px dashed #47a3da;
	column-rule: 1px dashed #47a3da;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	-o-column-gap: 1em;
	column-gap: 1em;
	vertical-align: top;
	padding: 1em 0;
}

.twr-contentslider p {
	color: #47a3da;
	padding: 0 0.5em 0.4em;
	margin: 0;
	font-size: 1.2em;
	font-weight: 300;
	text-align: justify;
	line-height: 1.6;
}

/* Media queries */

@media screen and (max-width: 70em) {
	.twr-contentslider p {
		font-size: 100%;
	}
}

@media screen and (max-width: 67.75em) {

	.twr-contentslider { font-size: 85%; }

	.twr-contentslider nav a[class^="icon-"]:before,
	.twr-contentslider nav a[class*=" icon-"]:before {
		left: 50%;
		margin-left: -1.250em;
	}

	.twr-contentslider nav a span {
		display: none;
	}
}

@media screen and (max-width: 43em) {

	.twr-contentslider h3 {
		font-size: 2em;
	}

	.twr-contentslider .twr-content {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-o-column-count: 1;
		column-count: 1;
	}

	.twr-contentslider li > div {
		top: 5em;
	}

}

@media screen and (max-width: 25em) {
	.twr-contentslider nav a { padding: 0;}
	.twr-contentslider h3[class^="icon-"]:before,
	.twr-contentslider h3[class*=" icon-"]:before { display: none;}
}
