$red: #c71b0b;
$pink: #f472a5;
$text-pink: #ff6496;
$blue: #1168d9;
$text-blue: #4e91ff;
$white: #fff;
$light-blue: #acd1f2;
$light-gray: #fffffd;
$yellow: #fff000;
$dark-gray: #2c3e50;
$content-bg: #7382a0;
$sidenav-blue: #3f5379;
$deco-blue: #7d96c3;
$game-bg: #343a48;
$tooltip-gray: #4d4d4d;

$primary-color: $red;

$c-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);

$small-font-size: 16px;
$base-font-size: 18px;
$brief-font-size: 20px;
$large-font-size: 30px;
$xs-large-font-size: 26px;

$font-bold: 700;

$outer-width : 60rem;

$width-xs: 544px;   // Small devices (landscape phones, 544px and up)
$width-sm: 768px;   // Medium devices (tablets, 768px and up)
$width-md: 992px;   // Large devices (desktops, 992px and up)
$width-lg: 1200px;  // Extra large devices (large desktops, 1200px and up)

@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
