<p>「我沒有想到這麼快啊！不過就是剛剛才譴責別人不注意，才提醒自己要有保存觀念，自己的片子就發霉了。總想說，有好好放著啊，應該安全吧，《超級大國民》這部片，是老婆當年抵押房子拍的，這麼重要，但還是疏忽了。」導演萬仁嘆。</p>
<p>1981 年，萬仁挺身疾呼搶救台語電影的必要，希望自己的童年記憶、乘載著台灣早年生活樣狀與人事景物的影像能被拯救與修復；他萬萬沒想到，時隔不過 30 年，上映於 1995 年的、他的代表作之一《超級大國民》已默默發霉，畫面上有了晃動、閃爍與髒點。</p>
<p>《超級大國民》以 1950 年代「白色恐怖」的影響為主軸，講述在那個時代參與政治讀書會而被判無期徒刑的老人許毅生，因懷著出賣好友、害其被槍決的內疚，在出獄後走訪難友、尋求贖罪的心路歷程。</p>
<p>這部片最早存放在中影，後來中影易主，典藏環境成了沒有溫控的貨櫃，只好速速轉至台北沖印寄存，本以為萬無一失，直到 4 年多前，美國有大學要典藏這部片，萬仁才從台北沖印的片庫提領出來，「那天，技術人員跟我說，6 卷膠卷，每卷的頭尾都發霉了。」他驚訝又懊悔，嘆著人就是這樣哪，總是學不會教訓。</p>
<p>後來，《超級大國民》住進了國影中心的樹林片庫，也才有了後來的修復機會，但萬仁這才知道，所謂國影中心的片庫，竟是一個為了樽節經費，必須精算著「溫度如果調高幾度可省下多少電費」的國家級的單位。「經費考量，這次的修復，也僅能先以 2K 修復，因為若要到最高規格的 4K，費用要多一倍。」</p>
<p><img src="images/director.jpg" class="img-responsive"></p>
<p>「有些東西，隨著時間的飛快，消失了就是消失了，不可逆的。」萬仁感慨，搶救電影就是搶救文化資產，「保存影片，有一個最適宜的溫度與溼度，我們明知最好的條件是什麼，但為了省電費，只好再調升個幾度，這雖不是吃的食物，但就像食物一樣，放冷凍跟放冷藏的保存期限就是有差別啊！」</p>
<p>被萬仁比喻為食物的膠卷，目前在國影中心樹林片庫的保存狀態，都還是「冷藏」居多。國影中心片庫目前溫度大多是 18–22 度，濕度大概落在 55，在這樣的狀況下，保存的片子只能維持 60–70 年，意思是，1950 年代左右的影片，可能都命在旦夕了。只有少部分的已複製、修復過的影片在溫度 6 度、濕度 45 的「冷凍」狀態，但離最理想的保存標準還是有一小段差距。</p>
<p>在這個與時間競賽的過程中，除了保存，數位修復也是需要同步進行的。</p>
