<p>文化部長鄭麗君自上任後風風火火，積極推動文化基本法、修正文化資產保存法，宣示要召開全國文化會議、啟動行政院文化會報機制等，面對比鄰文化部、至今仍是一片荒地的國家電影中心，她的態度同樣積極，正面迎戰。</p>
<p>鄭麗君十分肯定電影在情感上、思想上對人的影響，她舉了個自己的例子，「在法國留學時，我看了楊德昌的《一一》，對於歷經學運、民主化的我們這個世代來說，除了思鄉之外，更多感受到是台灣人共有的、在成長過程中與外在世界的疏離感，那也讓我開始思考，作為一個台灣人究竟是怎樣的存在。」</p>
<p>目前，文化部與新北市正重啟興建國影中心建築的協調，同時鄭麗君也允諾會積極尋找更合適的片庫空間，並向中央持續爭取專案計畫的資源協助，「要讓國影中心可以長期且計畫性的推動電影資產保存及推廣工作，使我國電影資產典藏能力得躋身世界標準。」此外，因國影中心擔負了國家電影資產、電影文化紀錄、電影教育、文化推廣等多元的工作，具備一定程度的公共性及專業性，「我們正朝向讓該中心組織法制化的方向研議可行性，例如朝行政法人思考，希望給予國家電影中心在引入人才、資源及專業營運上更多彈性空間，得以永續經營及發展。」</p>
