.allitems {
  width: 100%;
  background-color: #9b9b9b;
  box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.5);
  margin: 40px auto 0px auto;
}

.allitems_color {
  width: 100%;
  background-color: #4d6deb;
  margin: 70px auto 0px auto;
}

.index_items {
  width: 500px;
  margin: 30px auto 15px auto;
}

.index_item {
  height: 28px;
  font-family: SourceHanSansTWHK;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #4a4a4a;
  text-align: center;
  display: inline-block;
}

.item_title {
  margin: 5px auto;
  width: 390px;
  padding-top: 50px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  font-family: SourceHanSansTWHK;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
}

.items_block {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.singleitem {
  width: 16.5%;
  padding: 1%;  
}

@media only screen and (max-width: 768px) { 
  .singleitem {
    width: 32%;
  }
  .item_title {
    width: 279px;
    font-size: 18px;
  }
  .index_items {
    width: 320px;
    text-align: center;
  }
  .index_item {
    margin-top: 12px;
    display: block;
  }
}
