// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.scroll-panel {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  margin: 0px;
  display: block;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  background: white;
  overflow-x: hidden;

  h2 {
    position: absolute;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    font-size: 34px;

    @media only screen and (max-width: $screen-sm-min) {
      font-size: 32px;
    }
    @media only screen and (max-width: $screen-xs-min) {
      font-size: 20px;
    }
  }
  h3 {
    color: white;
    position: absolute;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    font-weight: 50%;

    @media only screen and (max-width: $screen-sm-min) {
      font-size: 28px;
    }
    @media only screen and (max-width: $screen-xs-min) {
      font-size: 16px;
    }
  }
}

.rainbow-bg {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  background: url(../images/rainbow-bg.svg);
}

.title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -95%);

  h1{
    display: inline;
    font-size: 56px;
    font-weight: 900;
    padding-top: 0.5em;
    vertical-align: middle;
    @media only screen and (min-width: $screen-md-max) {
      font-size: 66px;
    }
    @media only screen and (max-width: $screen-sm-min) {
      font-size: 42px;
    }
    @media only screen and (max-width: $screen-xs-min) {
      font-size: 30px;
    }
  }
  img {
    display: inline;
    max-width: 40%;
    @media only screen and (max-width: $screen-xs-min) {
      max-width: 33%;
    }
  }

  @media only screen and (max-width: $screen-sm-min) {
    width: 100%;
  }
}

#slide1 {
  background: linear-gradient(to bottom, #ffffff 80%, #8a4199 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#slide2 {
  // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe4b7+3,ffc552+100
  background: #ffe4b7; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffe4b7 3%, #ffc552 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ffe4b7 3%,#ffc552 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ffe4b7 3%,#ffc552 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe4b7', endColorstr='#ffc552',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  .main-img {
    position: absolute;
    height: 80%;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }

  h2 {
    top: 60%;
    left: 10%;
    max-width: 50%;
    transform: translate(0, -50%);
    @media only screen and (max-width: $screen-xs-min) {
      max-width: 45%;
      left: 5%;
    }
  }

}

#slide3 {
  /* IE10+ */
  background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #BA832E 0%, #EDA83A 42%, #EDA83A 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #BA832E 0%, #EDA83A 42%, #EDA83A 100%);
  /* Opera */
  background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #BA832E 0%, #EDA83A 42%, #EDA83A 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 724, color-stop(0, #BA832E), color-stop(42, #EDA83A), color-stop(100, #EDA83A));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #BA832E 0%, #EDA83A 42%, #EDA83A 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #BA832E 0%, #EDA83A 42%, #EDA83A 100%);

  h2 {
    top: 80%;
    left: 5%;
    max-width: 46%;
    transform: translate(0, -50%);
    @media only screen and (max-width: $screen-xs-min) {
      top: 76%;
      max-width: 47%;
    }
  }

  .main-img {
    position: absolute;
    height: 66%;
    bottom: 0;
    left: 76%;
    transform: translate(-50%, 0);
  }

  .sub-img {
    position: absolute;
    max-width: 46%;
    top: 10%;
    left: 5%;
  }
}

#slide4 {
  background-color: #F47A5D;

  h2 {
    top: 56%;
    left: 10%;
    max-width: 46%;
    transform: translate(0, -50%);
    @media only screen and (max-width: $screen-sm-min) {
      top: 76%;
      max-width: 47%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    @media only screen and (max-width: $screen-xs-min) {
      top: 70%;
      max-width: 47%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  h3 {
    top: 66%;
    left: 70%;
    max-width: 46%;
    transform: translate(0, -50%);
    @media only screen and (max-width: $screen-xs-min) {
      top: 55%;
    }
  }

  .main-img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 110%;
    transform: translate(-50%, -50%);
  }
}

#slide5 {
  background-color: #FFB9AB;

  h2 {
    top: 56%;
    left: 10%;
    max-width: 38%;
    transform: translate(0, -50%);
    @media only screen and (max-width: $screen-sm-min) {
      top: 76%;
      width: 70%;
      min-width: 70%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    @media only screen and (max-width: $screen-xs-min) {
      top: 70%;
      width: 85%;
      min-width: 80%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .main-img {
    position: absolute;
    top: 50%;
    left: 68%;
    max-width: 100%;
    max-height: 110%;
    transform: translate(-50%, -50%);
    @media only screen and (max-width: $screen-sm-min) {
      max-width: 105%;
      left: 55%;
    }
  }
}
