@import "./variables.scss";

.mp-grid {
  margin-bottom: 0.5em;
}
.border-green {
  border: 3px solid $party-green;
}
.border-blue {
  border: 3px solid $party-blue;
}
.border-orange {
  border: 3px solid $party-orange;
}
.scene-mp {
  padding: 1em 0 5em 0;
}
.mp-list-row {
  margin-top: 3em;
}

#scene-mp-sp {
  background: #D4FFE7;
}
#scene-mp-ps {
  background: #FFFFDF;
}
#scene-mp-nt {
  background: #E8DBD6;
}
#scene-mp-na {
  background: #F1F1F1;
}
