.nav-icons {
  position: fixed;
  top: 1.2rem;
  right: 1.7rem;
  z-index: 20;
  width: 2.5rem;

  a {
    text-decoration: none;
  }

}
.reporter-logo {
  width: 100%;
  margin-bottom: 2rem;

  a {
    width: 100%;
  }
  img {
    width: 100%;
  }
}

.share-facebook, .share-twitter {
  opacity: 0.3;
  width: 100%;
  margin-bottom: 0.6rem;
}
