@import "bourbon";
@import "./variables.scss";

.desktop-nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 7em;
	height: 100%;
	border: 0;
  z-index: 1030;
  background-color: rgba($dark-green, 0.9);

  @media (max-width: $screen-xs-max) {
    // hide the desktop navbar on mobile phones
    display: none;
  }

  .logo {
    width: 5em;
    margin: 2em 0;
  }

  .nav-icon {
    width: 4em;
    height: 4em;
    margin: 0.8em 0;
    @include animation(fadeIn 0.2s ease-in);
  }

  #share-top {
    width: 3em;
    margin-top: 3em;
  }

  #btn-banana {
    &:hover {
      content: url('../images/nav/banana-mouseover.svg');
    }
  }

  #btn-satellitemap {
    &:hover {
      content: url('../images/nav/satellitemap-mouseover.svg');
    }
  }

  #btn-truck {
    &:hover {
      content: url('../images/nav/truck-mouseover.svg');
    }
  }

  #btn-government {
    &:hover {
      content: url('../images/nav/government-mouseover.svg');
    }
  }

  #btn-rocks {
    &:hover {
      content: url('../images/nav/rocks-mouseover.svg');
    }
  }

  #btn-protester {
    &:hover {
      content: url('../images/nav/protester-mouseover.svg');
    }
  }


}

.nav-description {
  position: fixed;
  z-index: 1035;
	top: 0;
	right: 7em;
	width: em(60px);
  color: white;
  background-color: $green;
  opacity: 0;

  p {
    width: 1em;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
    writing-mode: vertical-rl;
  }

  .nav-part {
    font-size: 0.5em;
    font-weight: 700;
    margin: em(12px) em(10px) em(18px) em(10px);
    padding: em(5px) em(2px);
    test-align: center;
    border-bottom: 3px solid white;
  }
}
