@import "bourbon";
@import "./variables.scss";

.desktop-nav {
	position: fixed;
	top: 0;
	right: 0;
  width: 7em;
  height: 100%;
	border: 0;
  z-index: 1030;
  background-color: rgba($dark-green, 0.9);

  @media (max-width: $screen-xs-max) {
    // hide the desktop navbar on mobile phones
    display: none;
  }

  @media (max-height: $screen-height) , (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
    width: 3.5em;
  	max-height: 22em;
  }

  .logo {
    width: 62%;
    margin: 1.2em 0;
  }

  .nav-icon {
    width: 52%;
    height: auto;
    margin: 0.2em 0;
    margin-left: auto;
    margin-right: auto;
    @include animation(fadeIn 0.2s ease-in);
  }

	.share-box {
		width: 100%;
		padding: 0 em(10px);
		a:hover {
			text-decoration: none;
		}
	}

	.share-icon {
		width: 46%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		@include animation(fadeIn 0.2s ease-in);
	}

  #share-top {
    width: 100%;
    margin-top: 3em;
    padding: 2em;
  }

  #btn-banana {
    &:hover {
      content: url('../images/nav/banana-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/banana-click.svg');
    }
  }

  #btn-satellitemap {
    &:hover {
      content: url('../images/nav/satellitemap-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/satellitemap-click.svg');
    }
  }

  #btn-truck {
    &:hover {
      content: url('../images/nav/truck-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/truck-click.svg');
    }
  }

  #btn-government {
    &:hover {
      content: url('../images/nav/government-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/government-click.svg');
    }
  }

  #btn-rocks {
    &:hover {
      content: url('../images/nav/rocks-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/rocks-click.svg');
    }
  }

  #btn-protester {
    &:hover {
      content: url('../images/nav/protester-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/protester-click.svg');
    }
  }


}

.nav-description {
  position: fixed;
  z-index: 1035;
	top: 0;
	right: 7em;
	width: em(60px);
  color: white;
  background-color: $green-darker;
  opacity: 0;

  @media (max-height: $screen-height) , (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
    right: 3.5em;
  }

  p {
    width: 1em;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
    writing-mode: vertical-rl;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      writing-mode: inherit;
    }
  }

  .nav-part {
    font-size: 0.5em;
    font-weight: 700;
    margin: em(12px) em(10px) em(18px) em(10px);
    padding: em(5px) em(2px);
    test-align: center;
    border-bottom: 3px solid white;
  }
}
