@import "bourbon";
@import "./variables.scss";

.side-nav {
	position: fixed;
	top: 0;
	right: 0;
  width: 7em;
  height: 100%;
	border: 0;
  z-index: 1030;
  background-color: rgba($dark-green, 0.9);

	@media (max-width: $screen-xs-min) {
		// mobile phones
		width: 100%;
		height: auto;
	}

	@media (min-width: $screen-xs-min) and (max-height: $screen-height) , (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
		width: 3.5em;
		max-height: 25.6em;
	}

	.nav-container {
		@media (max-width: $screen-xs-min) {
			display: none;
			flex-wrap: wrap;
    	flex-direction: row;
			margin-bottom: 0.6em;
		}
	}

  .logo {
    width: 62%;
    margin: 1.2em 0;
		@media (max-width: $screen-xs-min) {
	    // mobile phones
	    display: none;
	  }
  }

	.mobile-logo {
		width: 7.6em;
		position: absolute;
    left: 0.6em;
	}

	.nav-link {
		@media (max-width: $screen-xs-min) {
	    // mobile phones
	    width: 32%;
			flex: 1;
		}
		&:hover, &:visited, &:link, &:active {
		    text-decoration: none;
		}
	}

  .nav-icon {
    width: 52%;
    height: auto;
    margin: 0.2em 0;
    margin-left: auto;
    margin-right: auto;
    @include animation(fadeIn 0.2s ease-in);
		@media (max-width: $screen-xs-min) {
	    // mobile phones
	    width: 4em;
			margin: 0.5em 2em;
		}
  }

	.share-box {
		width: 100%;
		padding: 0 em(10px);
		a:hover {
			text-decoration: none;
		}

		@media (max-width: $screen-xs-min) {
	    // mobile phones
	    flex: 2;
	  }
	}

	.social-link {
		@media (max-width: $screen-xs-min) {
	    // mobile phones
	    width: 30%;
	  }
	}

	.share-icon {
		width: 46%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		@include animation(fadeIn 0.2s ease-in);

		@media (min-width: $screen-xs-min) and (max-height: $screen-height) , (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
			width: 80%;
		}

		@media (max-width: $screen-xs-min) {
	    // mobile phones
			width: 3.5em;
		}
	}

  .share-top {
    width: 50%;
    margin-top: 2em;
		margin-left: auto;
		margin-right: auto;

		@media (max-width: $screen-xs-min) {
			// mobile phones
			display: none;
		}

		@media (min-width: $screen-xs-min) and (max-height: $screen-height) , (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
			margin-top: 0.5em;
			width: 61%;
			margin-left: auto;
			margin-right: auto;
		}
  }

	.share-top-img {
		width: 100%;
		@media (max-width: $screen-xs-min) {
			// mobile phones
			width: 3.5em;
		}
	}

  #btn-01 {
    &:hover {
      content: url('../images/nav/banana-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/banana-click.svg');
			// background: url("../images/nav/banana-click.svg");
    }
  }

  #btn-02 {
    &:hover {
      content: url('../images/nav/satellitemap-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/satellitemap-click.svg');
			// background: url('../images/nav/satellitemap-click.svg');
    }
  }

  #btn-03 {
    &:hover {
      content: url('../images/nav/truck-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/truck-click.svg');
			// background: url('../images/nav/truck-click.svg');
    }
  }

  #btn-04 {
    &:hover {
      content: url('../images/nav/rocks-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/rocks-click.svg');
			// background: url('../images/nav/rocks-click.svg');
    }
  }

  #btn-05 {
    &:hover {
      content: url('../images/nav/government-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/government-click.svg');
			// background: url('../images/nav/government-click.svg');
    }
  }

  #btn-06 {
    &:hover {
      content: url('../images/nav/protester-mouseover.svg');
    }
    &.active {
      content: url('../images/nav/protester-click.svg');
			// background: url('../images/nav/protester-click.svg');
    }
  }


}

.nav-description {
  position: fixed;
  z-index: 1035;
	top: 0;
	right: 7em;
	width: em(60px);
  color: white;
  background-color: $green-darker;
  opacity: 0;

  @media (min-width: $screen-xs-min) and (max-height: $screen-height) , (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
    right: 3.5em;
  }

	@media (max-width: $screen-xs-min) {
		// mobile phones
		display: none;
	}

  p {
    width: 1em;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
    writing-mode: vertical-rl;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      writing-mode: inherit;
    }
  }

  .nav-part {
    font-size: 0.6em;
    font-weight: 700;
    margin: em(12px) em(10px) em(18px) em(10px);
    padding: em(5px) em(2px);
    test-align: center;
    border-bottom: 3px solid white;
  }
}

.mobile-row {
	height: em(50px);
	margin-bottom: 0.3em;
}

.burger-icon {
  width: 46px;
  height: 30px;
  position: absolute;
	top: 12px;
	right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.burger-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: white;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .20s ease-in-out;
}

.burger-icon span:nth-child(1) {
  top: 0px;
	transform-origin: left center;
}

.burger-icon span:nth-child(2) {
  top: 14px;
	transform-origin: left center;
}

.burger-icon span:nth-child(3) {
  top: 28px;
	transform-origin: left center;
}

.burger-icon.open span:nth-child(1) {
  top: 0px;
  transform: rotate(45deg);
}

.burger-icon.open span:nth-child(2) {
  opacity: 0;
  left: -10px;
}

.burger-icon.open span:nth-child(3) {
  top: 32px;
  transform: rotate(-45deg);
}
