/* stylelint-disable function-comma-space-after, selector-list-comma-newline-after, rule-non-nested-empty-line-before, at-rule-empty-line-before, indentation, block-closing-brace-newline-before */
@import "../../../styles/variables.scss";

.container {
  color: white;
  background: $content-bg;
  padding-bottom: 1rem;
  margin-top: -1px;
  margin-bottom: -1px;
  width: 100%;
  overflow-x: hidden;
}

.left-nav {
  display: none;
  float: left;
  width: 32%;
  max-width: 500px;
  background: $sidenav-blue;
  height: 100%;
  @media (min-width: $width-md) {
    display: block;
  }
}

.right-content {
  float: left;
  width: 100%;
  @media (min-width: $width-md) {
    min-width: 68%;
    width: calc(100% - 500px);
  }
}

.research-des {
  position: relative;
  color: $tooltip-gray;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 1rem 2rem;
  margin-top: 8rem;
  border-top: $yellow 8px solid;
  text-align: justify;
  @media (max-width: $width-xs) {
    margin-top: 12rem;
    padding: 1rem;
  }
  .title-box {
    position: absolute;
    left: 46%;
    transform: translate(-50%, -50%);
    top: -1.3rem;
    width: 100%;
    text-align: center;
    @media (max-width: $width-xs) {
      left: 50%;
      transform: translate(-50%, -100%);
      top: 1.1rem;
    }
  }
  .r-title {
    display: inline-block;
    background-color: $text-blue;
    font-size: 28px;
    font-weight: $font-bold;
    color: $white;
    padding: 0.2rem 1rem;
    vertical-align: bottom;
    @media (max-width: $width-xs) {
      display: table;
      margin: 0 auto;
    }
  }
  .yoyo {
    display: inline-block;
    margin-right: 1.5rem;
    width: 5rem;
    vertical-align: bottom;
    svg {
      width: 100%;
      margin-bottom: -0.9rem;
    }
    @media (max-width: $width-xs) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
    }
  }
}

.case-number {
  color: $tooltip-gray;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: $font-bold;
  font-size: 28px;
}

.case-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.case-blue {
  @extend .case-bg;
  color: $text-blue;
  background-image: url('../../../../content/assets/report-transparent.png');
}

.case-pink {
  @extend .case-bg;
  color: $text-pink;
  background-image: url('../../../../content/assets/check-transparent.png');
}

.case-dark {
  @extend .case-bg;
  background-image: url('../../../../content/assets/advise-transparent.png');
}
