/* stylelint-disable function-comma-space-after, block-closing-brace-newline-before */
@import "../../../styles/variables.scss";

.container {
  height: 200vh;
  color: white;
  background: linear-gradient(to bottom, $blue 0%, $pink 100%);
}
