/* stylelint-disable function-comma-space-after, rule-non-nested-empty-line-before, indentation, block-closing-brace-newline-before */
@import "../../../styles/variables.scss";

.container {
  position: relative;
  height: 120vh;
  color: white;
  background: linear-gradient(to bottom, $blue 0%, $pink 100%);
}

.yoyo-des {
  padding-top: 1rem;
}

.pet-item {
  width: 80px;
  height: 80px;
  margin: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 50%;

  img {
    position: absolute;
    height: 100%;
    width: auto;
    margin: 0 auto;
    top: 0;
    left: 0;
    border-radius: 50%;
  }
}

.pet1 {
  top: 83%;
  left: calc(28% - 80px);
}

.pet2 {
  top: 90%;
  left: 47%;
}

.pet3 {
  width: 100px;
  height: 100px;
  top: 80%;
  left: calc(70% + 100px);
}

.pet4 {
  width: 70px;
  height: 70px;
  top: 55%;
  left: calc(22% - 70px);
}

.pet5 {
  width: 70px;
  height: 70px;
  top: 60%;
  left: calc(70% + 70px);
}
