/* stylelint-disable function-comma-space-after, block-closing-brace-newline-before, indentation, at-rule-empty-line-before, rule-non-nested-empty-line-before */
@import "../../../styles/variables.scss";

.container {
  height: 300vh;
  color: white;
  background: linear-gradient(to bottom,$pink 0%,$blue 100%);
  overflow: hidden;
}

.pet-container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400%;
  margin-left: -150%;
  padding-top: 10vh;
}

.dots-container {
  perspective: 600px;
}

.pet-item {
  width: 350px;
  height: 350px;
  margin: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  @media (max-width: $width-xs) {
    width: 180px;
    height: 180px;
    margin: 30px;
  }
  img {
    position: absolute;
    height: 100%;
    width: auto;
    margin: 0 auto;
    top: 0;
    left: 0;
  }
}

.overlay-dots-container {
  position: absolute;
  top: 10vh;
  width: 600%;
  height: 400vh;
}

.dot {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
}

.blue {
  background-color: rgba($light-blue, 0.7);
}
.pink {
  background-color: rgba($pink, 0.6);
  width: 70px;
  height: 70px;
}
.white {
  width: 60px;
  height: 60px;
  background-color: rgba($light-gray, 0.2);
}
