iframe {
  border: 0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.wrapper {
  position:relative;
  height:0;
  overflor:hidden;
  padding-bottom:75%;
}

.project {
  width: 100%;
  font-family: SourceHanSansTWHK;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2.6px;
  line-height: 1.25;
  color: #ffffff;
  margin: 25px auto 0px auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.header {
  width: 100%;
  height: 475px;
  background-image: linear-gradient(to bottom, #00dd3f, #4d6deb 98%);
}

.item_logo {
  height: 216px;
  width: 151px;
  margin: 0 auto 0 auto;
  padding-top: 57px;
}

.header_triangle {
  width: 0;
  height: 0;
  margin: 82px auto auto auto;
  border-style: solid;
  border-width: 0 25px 25px 25px;
  border-color: transparent transparent #fead00 transparent;
}

.header_rect {
  width: 100%;
  height: 27px;
  background-color: #fead00;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.subtitle {
  width: 100%;
  height: 24px;
  font-family: SourceHanSansTWHK;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.7px;
  text-align: center;
  color: #ffffff;
  margin: 10px auto 0px auto;
}

.olympic_item {
  width: 100%;
  height: 48px;
  font-family: SourceHanSansTWHK-Normal;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  color: #4a4a4a;
  margin-top: 96px;
}

.item_line {
  width: 44px;
  height: 5px;
  border-bottom: solid 5px #4a4a4a;
  border-radius: 200px;
  margin: 82px auto 65px auto;
}

.intro {
  width: 750px;
  font-family: SourceHanSansTWHK-Normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.94;
  color: #000000;
  margin: 25px auto 25px auto;
}

.index_group {
  width: 264px;
  height: 8px;
  margin: 84px auto 34px auto;
}

.index_seq {
  width: 80px;
  height: 42px;
  margin: 0px 4px 0px 4px;
  display: inline-block;
}

.index_line {
  width: 80px;
  height: 1px;
  float: left;
  border-radius: 100px;
  border-bottom: solid 8px #4a4a4a;
  vertical-align: top;
}

.index_point {
  width: 0;
  height: 0;
  border-style: solid;
  margin: 28px auto 0px auto;
  border-width: 0 14px 14px 14px;
  border-color: transparent transparent #4a4a4a transparent;
}

.index_line_gray {
  width: 80px;
  height: 1px;
  float: left;
  border-radius: 100px;
  border-bottom: solid 8px #d8d8d8;
  margin: 0px 4px 0px 4px;
}

.history {
  width: 750px;
  height: 70px;
  font-family: SourceHanSansTWHK-Normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.94;
  color: #000000;
}

.title {
  width: 750px;
  height: 60px;
  font-family: SourceHanSansTWHK;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(275deg, #00dd3f, #4d6deb);
  border-radius:100px;
  padding-top: 16px;
  margin: 30px auto 30px auto;
}

.map {
  width: 100%;
}

.desc {
  width: 460px;
  font-family: SourceHanSansTWHK-Normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.67;
  color: #4a4a4a;
  margin: 10px auto 10px auto;
  padding: 15px 20px 15px 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.playerlist {
  width: 700px;
  margin: 0 auto 0 auto;
}

.player {
  width: 700px;
  height: auto;
  margin-top: 33px;
  margin-bottom: 33px;
}

.player_field {
  margin: 15px 15px 15px 15px;
  padding-top: 20px;
  padding-bottom: 50px;
  border-bottom: solid 1px #e6e6e6;
  vertical-align: middle
}

.player_left {
  width: 45%;
  vertical-align: top;
  display: inline-block;
}

.player_right {
  width: 55%;
  margin: 0;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #e6e6e6;
  display: inline-block;
}

.player_texttitle {
  width: 40%;
  display: inline-block;
  font-family: SourceHanSansTWHK;
  font-size: 22px;
  font-weight: 500;
  line-height: 0.82;
  color: #4a4a4a;
  clear: left;
  padding: auto;
  text-align: center;
  vertical-align: middle
}

.player_picture {
  width: 175px;
  margin: auto;
}

.player_item {
  width: 60%;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.94;
  margin: auto;
  vertical-align: middle
}

.player_experience {
  width: 60%;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.94;
  text-align: center;
}

.player_desc {
  width: 360px;
  height: 366.2px;
  background-color: #ffffff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #e6e6e6;
}

.player_name {
  width: 175px;
  font-family: SourceHanSansTWHK;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #4a4a4a;
  border-bottom: solid 3px #fead00;
  padding-bottom: 15px;
  margin: 0 auto 0 auto;
}

.player_intro {
  font-family: SourceHanSansTWHK-Normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  color: #000000;
  clear: left;
  padding: 15px;
}

.data_source {
  padding: 0px 15px 0px 15px;
  width: 650px;
  font-size: 15px;
  color: #9b9b9b;
  margin: 50px auto;
  border-left: solid 5px #e6e6e6;
  border-right: solid 5px #e6e6e6;
}

.team {
  width: 600px;
  margin: 65px auto;
}

.team_title {
  display: inline-block;
  width: 95px;
  height: 35px;
  border: solid 2px #4a4a4a;
  margin: 5px 10px 5px 10px;
  text-align: center;
  font-family: SourceHanSansTWHK-Normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.94;
  color: #4a4a4a;
}

.team_members {
  display: inline-block;
  width: 342px;
  height: 35px;
  font-family: SourceHanSansTWHK-Normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.94;
  margin: 5px 10px 5px 10px;
  color: #9b9b9b;
}

.publish_date {
  display: inline-block;
  width: 95px;
  height: 21px;
  font-family: Cambria;
  font-size: 18px;
  font-weight: 400;
  color: #4a4a4a;
  margin: 5px 10px 5px 10px;
}

.landing_header {
  width: 100%;
  height: 630px;
  background-image: linear-gradient(to bottom, #00dd3f, #4d6deb);
  box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.2);
  border: solid 0.7px #979797;
}

.landing_headerbox {
  position: relative;
  margin-bottom: -50%;
  width: 490px;
  height: 156px;
  background-color: #ffffff;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .title {
    width: 550px;
  }
  .intro {
    width: 550px;
  }
  .history {
    width: 550px;
  }
  .desc {
    width: 600px;
    margin: 15px auto 15px auto;
  }

}

@media only screen and (max-width: 768px) {
  .title {
    width: 100%;
    border-radius:0px;
  }
  .header_rect {
    height: 34px;
  }
  .intro {
    width: 90%;
    margin: 15px auto 15px auto;
  }
  .history {
    width: 90%;
  }
  .olympic_item {
    font-size: 30px;
    font-weight: 400;
  }
  .desc {
    width: 300px;
    margin: 15px auto 15px auto;
  }
  .playerlist {
    width: 320px;
    margin: 0 auto 0 auto;
  }
  .player {
    width: 94%;
    margin: 0 auto 0 auto;
  }
  .player_name {
    width: 55%;
    margin: 0 auto 0 auto;
  }
  .player_left {
    width: 300px;
    margin: 10px auto 10px auto;
  }
  .player_right {
    width: 300px;
    margin: 10px auto 10px auto;
  }
  .player_texttitle {
    clear: left;
    width: 35%;
  }
  .player_intro {
    width: 300px;
  }
  .player_field {
    margin: 2px auto 2px auto;
    width: 100%;
  }
  .player_item {
    width: 65%;
  }
  .player_experience {
    clear: left;
    width: 60%;
  }
  .team {
    width: 290px;
    margin: 20px auto;
  }
  .data_source {
    width: 280px;
    height: auto;
    font-size: 15px;
    color: #9b9b9b;
    margin: 10px auto;
  }
  .team_title {
    width: 40%;
    margin-left: 30%;
    text-align: center;
  }
  .team_members {
    width: 95%;
    display: normal;
    margin: 10px auto;
    text-align: center;
  }
  .publish_date {
    width: 100%;
    text-align: center;
    display: normal;
    margin: 10px auto;
  }
}

