@import "./variables";

#progress-nav {
  display: none;
  transition: all .5s linear;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  color: $text-main;
  background-color: $light-green;
  box-shadow: 15px 15px 15px $light-green;
  text-align: center;
  padding: 2em 2em 0 2em;
}

.progress {
  width: 50%;
  background-color: $light-green;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
  border-radius: 0;
  box-shadow: none;
}

.progress > .progress-item {
  width: 16%;
  height: 1.8em;
  background-color: white;
  border: $light-green 2px solid;
  float: left;
  transition: background-color .5s ease-in-out;
}

.progress > .progress-item.active {
  background-color: $green;
}
