/* stylelint-disable function-comma-space-after, rule-non-nested-empty-line-before, at-rule-empty-line-before, indentation, block-closing-brace-newline-before */
@import "../../../styles/variables.scss";

.container {
  position: relative;
  height: 120vh;
  color: white;
  background: $content-bg;
}

.left-nav {
  float: left;
  width: 32%;
  max-width: 500px;
  background: $sidenav-blue;
  height: 100%;
}

.right-content {
  display: none;
  float: left;
  min-width: 68%;
  @media (min-width: $width-md) {
    display: block;
    max-width: calc(100% - 500px);
  }
}

.content-box {
  background: $white;
  box-shadow: $c-box-shadow;
  width: calc(100% - 40px);
  margin: 20px;
}
