/* stylelint-disable function-comma-space-after, rule-non-nested-empty-line-before, at-rule-empty-line-before, indentation, block-closing-brace-newline-before */
@import "../../../styles/variables.scss";

.container {
  color: white;
  background: $content-bg;
  padding: 2rem 1rem;
}

.left-nav {
  display: none;
  float: left;
  width: 32%;
  max-width: 500px;
  background: $sidenav-blue;
  height: 100%;
  @media (min-width: $width-md) {
    display: block;
  }
}

.right-content {
  float: left;
  width: 100%;
  @media (min-width: $width-md) {
    min-width: 68%;
    width: calc(100% - 500px);
  }
}

.content-box {
  background: $white;
  box-shadow: $c-box-shadow;
  padding: 1.5rem;
  color: $text-blue;
  text-align: left;
}
