/* stylelint-disable block-closing-brace-newline-before, rule-non-nested-empty-line-before, indentation */
@import "variables.scss";

.content {
  max-width: 60rem;
  margin: auto;
  padding: 1rem 0.75rem;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.content-outer {
  width: $outer-width;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  max-width: 100%;
  height: auto !important;
  svg {
    max-width: 100%;
  }
}

.fixedCenter {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay-svg {
  svg {
    overflow: overlay;
  }
}

.hide {
  display: none;
}
