/* stylelint-disable block-closing-brace-newline-before, at-rule-empty-line-before, rule-non-nested-empty-line-before, indentation */
@import "variables.scss";

.content {
  max-width: 60rem;
  margin: auto;
  padding: 1rem 0.75rem;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.inner-text {
  text-align: justify;
}

.content-outer {
  width: $outer-width;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.4px;
  line-height: 1.95;
}

.img-responsive {
  max-width: 100%;
  height: auto !important;
  svg {
    max-width: 100%;
  }
}

.fixedCenter {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay-svg {
  svg {
    overflow: overlay;
  }
}

.hide {
  display: none;
}

.c-grid {
  background-color: $deco-blue;
  padding: 1.5rem 1rem;
  >div {
    position: relative;
    padding-bottom: 3rem;
    height: 100%;
  }
}

.wrap-grids {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: $width-xs) {
    margin: 0 -5px;
  }
}

.grid-50 {
  width: calc(50% - 14px);
  margin: 14px 7px;
  @media (max-width: $width-xs) {
    margin: 10px 0;
    width: 100%;
  }
}

.g-btm-text {
  font-size: 28px;
  font-weight: $font-bold;
  letter-spacing: 1px;
  line-height: 1.6;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%,0);
}
