/* stylelint-disable function-comma-space-after, selector-list-comma-newline-after, rule-non-nested-empty-line-before, at-rule-empty-line-before, indentation, block-closing-brace-newline-before */
@import "../../../styles/variables.scss";

.container {
  color: white;
  background: $content-bg;
  padding-bottom: 1rem;
  margin-top: -1px;
  margin-bottom: -1px;
}

.yoyo {
  margin: 1rem;
  vertical-align: bottom;
  svg {
    width: 100%;
    margin-bottom: -0.9rem;
  }
  @media (max-width: $width-xs) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}

.b-grid {
  background-color: $deco-blue;
  padding: 1.5rem 1rem;
  text-align: left;
  >div {
    position: relative;
  }
  @media (min-width: $width-xs) {
    display: flex;
  }
}

.c-left {
  vertical-align: middle;
  @media (min-width: $width-xs) {
    flex: 1;
    align-items: stretch;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    height: 100%;
    order: 1;
  }
}

.c-right {
  vertical-align: middle;
  @media (min-width: $width-xs) {
    flex: 1;
    align-items: stretch;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    height: 100%;
    order: 2;
  }
}

.c-text {
  @media (min-width: $width-xs) {
    padding: 0 2rem;
  }
}
