.election-container {
  font-family: "Noto Sans",'Noto Sans TC', "Apple LiGothic Medium", Roboto, "Microsoft JhengHei", "新細明體", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 15px;
}

.article-container {
  margin-bottom: 90px;
}

.article-body {
  font-family: "Noto Sans",'Noto Sans TC', "Apple LiGothic Medium", Roboto, "Microsoft JhengHei", "新細明體", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  max-width: 716px;
  margin: 90px auto 0 auto;
}

.article-body > p{
  font-size: 17px;
  line-height: 1.85;
  font-weight: 400;
  white-space: normal;
  margin-top: 1.85em;
}

.fw500 {
  font-weight: 500;
}

.fs30 {
  font-size: 30px;
}

.taiwan-map-block {
  max-width: 1280px;
}

.condition-title {
  width: 100%;
  border-top: 2px solid;
  border-bottom: 2px solid;
  text-align: center;
  line-height: 65px;
  margin-bottom: 90px;
}

.condition-block {
  margin: 20px auto;
  max-width: 800px;
  height: auto;
}

.condition-block > div {
  margin-top: 15px;
}

.category-condition {
  display: inline-block;
}

.bt {
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
  margin: 1px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  color: #666;
  background-color: #fff;
  border: 2px solid #f1f1f1;
  border-radius: 62.5rem;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
}

.selected {
  background-color: #000;
  color: white;
}

.map-result {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 10px auto 0;
  font-size: 32px;
  font-weight: 900;
}

.sentence {
  white-space: nowrap;
}

.condition-result-container {
  position: relative;
  width: 80%;
  margin: 50px auto 0px auto;
}

.district-map {
  max-width: 400px;
  width: 50%;
  max-height: 600px;
  height: 100%;
  display: inline-block;
  text-align: center;
}

.block-title {
  display: inline-block;
  margin: 0px auto;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
  text-align: center;
  color: #FFF;
  background-color: #000;
  border: 3px solid #f1f1f1;
}

.proportion-block .rows {
  margin: 50px auto;
  width: 95%;
}

.proportion-block .row {
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 75px;
  display: table;
}

.proportion-block .row-text {
  display: table-cell;
  width: 25%;
  vertical-align: top;
  font-size: 18px;
  font-weight: 900;
}

.row-text span {
  width: 100%;
  padding: 0 0 15px 0px;
  float: left;
}

.category-row {
  width: 150px;
  height: 150px;
  margin-left: 50px;
}

.kmt-block, .dpp-block, .other-party-block {
  width: 100px;
}

.square-header {
  margin: 0px 0px 15px 50px;
  width: 100px;
}

.block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
}

.nondistrict, .aboriginal {
  width: 100%;
  max-width: 200px;
  margin-left: 30px;
  text-align: center;
}

.party-indicator {
  display: inline-block;
  margin-right: 20px;
}

.party-circle {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

@media
only screen
and (max-width: 414px),
only screen
and (max-device-width : 414px) {
  .article-container {
    margin-bottom: 40px;
  }
  .article-body {
    max-width: calc(100% - 2rem);
    margin: 40px auto 0px auto;
  }
  .condition-block {
    margin: 20px auto;
    width: 80%;
    height: auto;
  }
  .condition-title {
    line-height: 45px;
    margin-bottom: 0px;
  }
  .category-condition {
    display: block;
    margin-top: 15px;
  }
  .condition-block > div {
    margin-bottom: 30px;
  }
  .dpp-square, .kmt-square, .other-party-square.block {
    display: none;
  }
  .district-map {
    width: 100%;
    display: block;
    text-align: center;
  }
  .block {
    margin-bottom: 0px;
  }
}

