// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "./variables.scss";

.article {
    background: #192740;
    color: $white;

    p {
        margin-top: 1.85em;
        line-height: 1.85;
    }

    .title-date {
        color: $gray-dark;
    }

    .red-hr {
        border-top: 1px solid $red;
        width: 3rem;
    }
}

.restoration-container {
    .description {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translate(-50%,0);
    }
}
