// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "./variables.scss";

.article {
    background: #192740;
    color: $white;

    p {
        margin-top: 1.85em;
        line-height: 1.85;
    }

    .title-date {
        color: $gray-dark;
    }

    .red-hr {
        border-top: 1px solid $red;
        width: 3rem;
    }

    .description {
        @media only screen and (max-width: $screen-sm-min) {
            width: 100%;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
}

.restoration-container {
    .description {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,0);
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    }
}


#g-earth {
    height: 260vh;

    .description {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,0);
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

        > div {
            margin-bottom: 10rem;
        }
    }
}
