.nav-icons {
  z-index: 20;
  div{
    width: 2.5rem;
  }

  a {
    text-decoration: none;
  }

}

.icon {
  width: 2.5rem;
  margin-bottom: 2rem;

  a {
    width: 100%;
  }
  img {
    width: 100%;
  }
}

.reporter-logo {
  @extend .icon;
  position: fixed;
  top: 1.2rem;
  right: 1.7rem;
}

.donation-icon {
  @extend .icon;
  position: absolute;
  top: 1.2rem;
  left: 1.7rem;
}
